body {
	margin:0;
}

.logo img {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 133px;
	height: 30px;
	z-index: 1000;
}

.container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
}

.container img {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100% !important;
	height: 100% !important;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
	.container img {
		display: none !important;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	/* Styles */
	.container img {
		display: none !important;
	}
}
